@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Original variables */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* Updated primary colors based on the new color scheme */
    --primary: 0 80% 32%; /* #940F0F */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 80% 32%; /* #940F0F */
    --radius: 0.5rem;

    /* New Campus Closet color scheme */
    --cc-dark-red: 0 80% 32%; /* #940F0F */
    --cc-red: 0 49% 50%; /* #BB4242 */
    --cc-light-red: 0 62% 67%; /* #E27272 */
    --cc-pink: 0 50% 88%; /* #F2CECE */
    --cc-orange: 33 70% 58%; /* #E19446 */
    --cc-light-orange: 33 75% 70%; /* #EFB377 */
    --cc-cream: 30 25% 91%; /* #EFE9E3 */
    --cc-light-peach: 30 80% 94%; /* #FBE0C5 */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 0 80% 32%; /* #940F0F */
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 0 80% 32%; /* #940F0F */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .header-text {
    @apply font-serif;
  }
}

/* Gradient animation for HeroButton */
@layer utilities {
  .bg-gradient-animate {
    background-size: 200% 200%;
    transition: background-position 0.5s ease;
  }

  .bg-gradient-animate:hover {
    background-position: right center;
  }
}
